In [7]:
import pandas as pd
import numpy as np
import sys
import warnings
from sklearn.externals import joblib

sys.path.append('../')
warnings.filterwarnings('ignore')

In [8]:
model = joblib.load('../model/model.pkl')
cols_order = joblib.load('../model/cols_order.pkl')
dtypes = joblib.load('../model/dtypes.pkl')

In [11]:
# імопртвання навчальної вибірки
df = pd.read_csv("../raw_data/churn_sample.csv")
df = df.replace(" ",np.nan)
df = df.astype(dtypes)
df = df[cols_order]
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65

In [12]:
data2 = df.loc[2].to_frame().T.astype(str).to_dict(orient = 'index')

In [13]:
data2

{2: {'gender': 'Male',
  'SeniorCitizen': '0',
  'Partner': 'No',
  'Dependents': 'No',
  'tenure': '2',
  'PhoneService': 'Yes',
  'MultipleLines': 'No',
  'InternetService': 'DSL',
  'OnlineSecurity': 'Yes',
  'OnlineBackup': 'Yes',
  'DeviceProtection': 'No',
  'TechSupport': 'No',
  'StreamingTV': 'No',
  'StreamingMovies': 'No',
  'Contract': 'Month-to-month',
  'PaperlessBilling': 'Yes',
  'PaymentMethod': 'Mailed check',
  'MonthlyCharges': '53.85',
  'TotalCharges': '108.15'}}

In [14]:
import requests
import json

In [15]:
url = 'http://127.0.0.1:8080'
route = '/predict'

In [17]:
response = requests.post(url+route, json = data2)
print(response.status_code)

200

In [19]:
print(json.loads(response.content))

[{'index': '2', 'probability_to_churn': 0.678650531321351}]